body {
    background-color: rgb(29, 27, 27);
    color: white;
    text-align: center;
}

header {
    border-radius: 10px; /*arrondir les bordures*/
    
    
    justify-content: center;
    align-items: center;
    margin: 2.5% 20%;
    padding: 0px;
}

nav {
    margin: 2.5% 20%;
}

.button {
    background-color: rgb(62,0,26);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

.button.active {
    background-color: rgb(92, 0, 38);
}

.button:hover {
    background-color: rgb(170,0,78);
}
img {
    border-radius: 10px; /*arrondir les bordures*/
    justify-content: center;
    align-items: center;
}
